{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/search_site/css/styles.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

<header>
	<ul class="top-menu">
		<li><a href=" {% url 'mainpage' %}">MainPage</a></li>
		{% for m in menu %}
		<li>
			<a href=" {% url m.url_name %}"> {{ m.title }} </a>
		</li>
		{% endfor %}
	</ul>
</header>
	<div id="wrapper">
		<header></header>
		<nav></nav>
		<div id="heading">
			<h1>{{ title }}</h1>
		</div>
		<aside></aside>
		<section></section>
	</div>
	<footer></footer>
</body>
</html>



