{% extends 'base.html' %}
{% load static %}

{% block headermenu %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-block">
        <h4>Friendly languages:</h4>
        <ul class="no-bullets">
            {% for language in languages %}
                <li>{{ language.name }}</li>
            {% empty %}
                <li>No languages available.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="right-block">
        <h4>The most active users:</h4>
        <p></p>
    </div>
</div>
{% endblock %}

